*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
@mixin flex-col($gap:0){
    display: flex;
    flex-direction: column;
    gap: $gap;
}
html,body{
    height: 100%;
    width: 100%;
    font-size: clamp(14px,1.5vw,18px);
    background-color: black;
}
main{
    width: 100%;
    @include flex-col();
    align-items: center;


    section.view1{
        width: 100%;
        @include flex-col(1rem);
        padding: 1rem;

        .top{
            width: 100%;

            img{
                width: 100%;
                border-radius: 1rem;
            }
        }

        .bottom{
            border-radius: 1rem;
            @include flex-col(2.5rem);
            background-color: #292929;
            padding: 1.5rem;

            .text{
                @include flex-col(0.7rem);

                h1{
                    text-transform: uppercase;
                    font-weight: 200;
                    font-size: 2.6rem;
                }
                p{
                    font-weight: 100;
                    font-size: 1.5rem;
                    opacity: 0.6;
                    line-height:1.5;
                }
                 
                button{
                    color: black;
                    width: fit-content;
                    border: none;
                    font-weight: bold;
                    border-radius: 0.9rem;
                    padding: 0.5rem 1rem;
                }
            }
        }
    }

    section.view2{
        width: 100%;
        padding: 1rem;
        @include flex-col(1rem);

        .top,.bottom{
            width: 100%;
            display: flex;
            justify-content: space-around;

        }

        .element{
            text-align: center;
            @include flex-col(0.5rem);
            h2{
                font-size: 3rem;
                font-weight: 300;
            }
            small{
                opacity: 0.6;
                font-size: 1.1rem;
            }
        }
    }

    section.view3{
        width: 100%;
        padding: 1rem;
        @include flex-col(1rem);

        .top{
            width: 100%;

            img{
                width: 100%;
                border-radius: 1rem;
            }
        }
        .bottom{
            border-radius: 1rem;
            @include flex-col(rem);
            background-color: #292929;
            padding: 2.5rem 2rem;
                h1{
                    text-transform: uppercase;
                    font-weight: 600;
                    font-size: 1.5rem;
                }
                p{
                    font-weight: 100;
                    font-size: 1.2rem;
                    opacity: 0.6;
                    line-height:1.5;
                }
                     
            
        }
        .bottom>p{
            margin-bottom: 3rem;
            text-transform: uppercase;
        }
    }

    section.view5{
        width: 100%;
        display: flex;
        padding: 2.5rem 4rem;
        justify-content: space-between;

        h1{
            font-weight: 400;
        }
        button{
            background-color: black;
            color: white;
            border: none;
            padding: 1rem;
            font-size: 1rem;
            opacity: 1;
            display: block;
        }
    }

    section.view6{
        // display: flex;
        @include flex-col(1rem);
        gap: 2rem;
        width: 100%;
        padding: 1rem;

        .card{
            width: 100%;
            background-image: url(https://assets-global.website-files.com/63cffb7c16ab3347fc9734c8/63d2ccbd7d003dfb6a1bdecb_team-01.webp);
            aspect-ratio: 1/1;
            background-size: cover;
            border-radius: 1rem;
            @include flex-col(0);
            justify-content: space-between;
            padding: 1rem;

            .bottom{
                background-color: rgba(187,187,187,0.375);
                backdrop-filter: blur(5px);
                border: 1px solid white;
                border-radius: 0.5rem;
                padding: 0.7rem;
            }
            .top{
                display: flex;
                justify-content: flex-end;
                gap: 1rem;

                i{
                padding: 0.5rem;
                width: fit-content;
                border-radius: 50%;
                backdrop-filter: blur(5px);
                background-color: rgba(255,255,255,0.375);
                }
            }
            // .icon{
            //     background-color: rgba(187,187,187,0.375);
            //     backdrop-filter: blur(5px);
            //     border: 1px solid white;
            //     // border-radius: 0.5rem;
            //     padding: 0.7rem;
            //     width: fit-content;
            //     border-radius: 50%;
            // }
            .bottom{
                display: flex;
                justify-content: space-between;
                padding: 1rem 1rem;

                p{
                    text-transform: uppercase;
                }
            }
            
        }

        #card2{
            background-image: url(https://assets-global.website-files.com/63cffb7c16ab3347fc9734c8/63d2ccbd2e12fa747e999689_team-02.webp);
        }

        #card3{
            background-image: url(https://assets-global.website-files.com/63cffb7c16ab3347fc9734c8/63d2ccbdc1f945f817bf4fd7_team-03.webp);
        }
    }

    section.view7{
        width: 100%;
        @include flex-col(1rem);
        padding: 1rem;

        .top{
            width: 100%;

            img{
                width: 100%;
                border-radius: 1rem;
            }
        }
        .bottom{
            width: 100%;
            border-radius: 1rem;
            @include flex-col(1.5rem);
            
            background-color: #292929;
            padding: 2.5rem;


            h3{
                font-weight: 200;
                font-size: 1rem;
                opacity: 0.6;
                letter-spacing: 2;
                margin-bottom: 1rem;
            }
            h1{
                font-weight: 400;
                font-size: 3.5rem;
                margin-bottom: 2rem;
            }
        }
    }

    section.view8{
        width: 100%;
        @include flex-col(10rem);
        padding: 1rem;
        align-items: center;
        justify-content: center;

        .v8{
            padding: 2rem;
            color: black;
            border-radius: 1rem;
            background-color: #cebd63;

            h3{
                color: black;
                font-weight: 400;
            }

            .textv8{
                @include flex-col(1.5rem);
                h1{
                    color: black;
                    font-size: 3rem;
                    letter-spacing: 2.5px;
                    line-height: 1.2;
                    font-weight: 500;
                }

                button{
                    padding: 1rem;
                    background-color: black;
                    width: 80%;
                    margin-left: 2em;
                    border-radius: 1rem;
                }
            }
        }
    }
}

section{
    max-width: 2000px;
}
@media (min-width:900px){
    main{
        // background-color: rebeccapurple;
        section.view1{
            flex-direction: row;
            padding: 1rem 4rem;

            .top,.bottom{
                width: 50%;
            }
            .bottom{
                padding: 3rem;
                justify-content: space-between;

                p{
                    font-size: 1.5rem;
                }
                .text{
                    gap: 1.5rem;
                }
                h1{
                    font-size: 3.5rem;
                }
            }
        }

        section.view2{
            flex-direction: row;
            padding: 1rem 4rem;
        }
        section.view3{
            flex-direction: row-reverse;
            padding: 1rem 4rem;
            // justify-content: space-between;
                .top,.bottom{
                    width: 50%;
                }
                .bottom{
                    justify-content: space-between;
                    h1{
                        font-size: 2.5rem;
                        transform: translateY(1rem);
                    }
                    .pars{
                        display: flex;
                        gap: 2rem;
                        justify-content: space-between;
                    }
                }
        }

        #v4{
            flex-direction: row;
        }

        // section.view5 button
        //     {
        //         opacity: 1;
        //     }
        section.view6{
            flex-direction: row;
        }

        section.view7{
            flex-direction: row;
            .top,.bottom{
                width: 50%;
            }
        }

        section.view8{
            width: 100%;
            .v8{
                padding: 8rem;

                h3{
                    font-size: 2rem;
                }
                .textv8{
                    margin-top: 5rem;
                    flex-direction: row;
                    
                    button{
                        font-size: 1.2rem;
                        transform: translateY(30%);
                        height: 80px;
                        padding: 1rem;
                    }
                }
            }
        }
    }
}
@media (max-width: 899px){  /* strictly less than desktop breakpoint */
    main section.view5 button{
        display: none;
    }
}

